.Login_title {
    padding: 2.5rem 0 2.3rem;
    background-color: #33A3F4
}

.Login_btn {
    float: left;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    margin-left: 1.8rem;
    background-color: #fff;
    line-height: 5.5rem
}
.Login_btn img{
    width: 100%
}
.login_content {
    float: left;
    height: 5.5rem;
    line-height: 5.5rem;
    margin-left: 1.2rem;
    font-size: 1.4rem;
    color: #fff
}

.login_title_right {
    height: 5.5rem;
    float: right;
}
.fn_left{
    float: left;
    display: block
}
.fn_right{
    float:right;
    display: block
}
.fn_clear::after{
    display: block;
    content: "";
    height: 0;
    clear: both;
}
.right_content {
    display: block;
    margin: 1.7rem 1rem 0;
    width: 1.5rem;
    height: 1.5rem;
    background: url('./image/arrow-r.svg') no-repeat center 90%;
}
.rea_right_content{
     width: 1.5rem;
     height: 1.5rem;
     line-height: 1.5rem;
     background: url('./image/right.svg') no-repeat center 100%;
}
.Login_person{
    padding: 15px 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff
}